.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-list {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 0px 0px #dee0e3;
  width: 100%;
  list-style-type: none;
}
.date-profile-name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.profile-icon {
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 5px;
}
.name {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 15px;
  font-weight: bold;
}
.date {
  font-family: 'Roboto';
  color: #7e858e;
  font-size: 10px;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 10px;
}
.like-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.like-container {
  display: flex;
  flex-direction: row;
}
.like-icon {
  height: 30px;
  width: 30px;
}
.like-text {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 600;
  margin-left: 10px;
}
.comment {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 13px;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.delete-icon {
  height: 30px;
  width: 30px;
}
.liked-text {
  color: #0b69ff;
}
