.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-item {
  background-color: #ffffff;
  width: 100%;
  list-style-type: none;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 28%;
}
.profile-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  color: white;
}
.name {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
}
.date-comment-container {
}
.comment {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #475569;
}
.like-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.like-container {
  display: flex;
  flex-direction: row;
}
.like-button {
  background-color: transparent;
  border: none;
}
.like-image {
  height: 20px;
  width: 20px;
  color: #334155;
}
.active-like {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0284c7;
}
.normal-like {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #334155;
}
@media screen and (max-width: 576px) {
  .profile-container {
    width: 80%;
  }
}
